/* CSS reset 
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}


/* General styles 
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li)) */

body {
    /*background-color: LightGray;*/
    font-family: 'Alegreya Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    background-image: url(../images/shopping.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

div {
    /*border: 1px solid Chocolate;*/
}

.content {
    padding: 0 0.938rem;
    margin: 0 auto;
    width: 70%;
}

li {
    list-style: none;
}


/* Header styles 
(all the styles inside the < header > or < nav > tags) 
*/


/* Content styles 
(all the styles inside the < sections > or < aside > tags) 
*/

header {
    background-color: #D3C6BB;
    height: 2.5rem;
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 1.25rem;
    font-family: 'Permanent Marker', cursive, sans-serif;
}

.wrapper {
    padding-top: 2rem;
    margin: auto;
    width: 90%;
    /*
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
    */
}

.shoppingListBreakfast,
.shoppingListLunch,
.shoppingListDinner,
.shoppingListSnacks {
    width: 24%;
    display: inline-block;
}

.shoppingListItemsBreakfast,
.shoppingListItemsLunch,
.shoppingListItemsDinner,
.shoppingListItemsSnacks {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 60%;
    margin: 0 auto;
}

.shoppingListBreakfast h1,
.shoppingListLunch h1,
.shoppingListDinner h1,
.shoppingListSnacks h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.shoppingListBreakfast {
    background-color: #7E7064;
}

.shoppingListBreakfast h1 {
    text-align: center;
    font-size: 1.35rem;
}

.shoppingListBreakfast .listBreakfast {
    font-size: 1.15rem;
}

.shoppingListLunch {
    background-color: #4A4038;
}

.shoppingListLunch .listLunch {
    color: antiquewhite;
    font-size: 1.15rem;
}

.shoppingListLunch h1 {
    text-align: center;
    color: antiquewhite;
    font-size: 1.35rem;
}

.shoppingListDinner {
    background-color: #7E7064;
}

.shoppingListDinner h1 {
    text-align: center;
    font-size: 1.35rem;
}

.shoppingListDinner .listDinner {
    font-size: 1.15rem;
}

.shoppingListSnacks {
    background-color: #4A4038;
}

.shoppingListSnacks .listSnacks {
    color: antiquewhite;
    font-size: 1.15rem;
}

.shoppingListSnacks h1 {
    text-align: center;
    color: antiquewhite;
    font-size: 1.35rem;
}

.shoppingListItemsBreakfast li,
.shoppingListItemsLunch li,
.shoppingListItemsDinner li,
.shoppingListItemsSnacks li {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.shoppingListItemsBreakfast .checkboxBreakfast,
.shoppingListItemsLunch .checkboxLunch,
.shoppingListItemsDinner .checkboxDinner,
.shoppingListItemsSnacks .checkboxSnacks {
    margin-right: 1rem;
}

.shoppingListItemsBreakfast .deleteBreakfast,
.shoppingListItemsLunch .deleteLunch,
.shoppingListItemsDinner .deleteDinner,
.shoppingListItemsSnacks .deleteSnacks {
    float: right;
    padding-top: .10rem;
    padding-bottom: .10rem;
}

.shoppingListItemsBreakfast .deleteAllBreakfast,
.shoppingListItemsLunch .deleteAllLunch,
.shoppingListItemsDinner .deleteAllDinner,
.shoppingListItemsSnacks .deleteAllSnacks {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.listWrapper,
input {
    margin: 0 auto;
    text-align: center;
}

button {
    background-color: #D3C6BB;
    padding-right: .5rem;
    padding-left: .5rem;
}

.ticked {
    text-decoration: line-through;
    color: gray;
}


/* Footer styles 
(all the styles inside the < footer > tag)
*/


/* Responsive styles 
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/


/* media query is a set of conditions in which the code inside will be executed*/


/*desktop first approach*/


/*ipad lanscape / small laptop*/

@media only screen and (max-width: 1024px) {
    body {
        color: blue;
    }
    .wrapper {
        padding-top: 2rem;
        margin: auto;
        width: 70%;
    }
}


/*ipad potrait*/

@media only screen and (max-width: 768px) {
    body {
        color: red;
    }
}


/*iPhone landscape*/

@media only screen and (max-width: 480px) {
    body {
        color: green;
    }
    .top-navigation .links li {
        margin-left: 1.563rem;
    }
}


/*iPhone portrait*/

@media only screen and (max-width: 320px) {
    body {
        color: purple;
    }
}