/* CSS reset 
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

/* General styles 
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li)) */

body {
    /*background-color: LightGray;*/
    font-family: 'BenchNine', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}
div {
    /*border: 1px solid Chocolate;*/
}
.content {
    padding: 0 0.938rem;
    margin: 0 auto;
    width: 70%;
}
li a {
    text-decoration: none;
    color: white;
}

/* Header styles 
(all the styles inside the < header > or < nav > tags) 
*/


/* Content styles 
(all the styles inside the < sections > or < aside > tags) 
*/


/* Footer styles 
(all the styles inside the < footer > tag)
*/


/* Responsive styles 
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/


/* media query is a set of conditions in which the code inside will be executed*/


/*desktop first approach*/


/*ipad lanscape / small laptop*/

@media only screen and (max-width: 1024px) {
    body {
        color: blue;
    }
    .content {
        width: 85%;
    }
    .top-navigation .links li {
        margin-left: 9rem;
    }
    .portfolio .content .projects li {
        width: 52%;
    }
}

/*ipad potrait*/

@media only screen and (max-width: 768px) {
    body {
        color: red;
    }
    .content {
        width: 99%;
    }
    .top-navigation .links li {
        margin-left: 5.563rem;
    }
}

/*iPhone landscape*/

@media only screen and (max-width: 480px) {
    body {
        color: green;
    }
    .top-navigation .links li {
        margin-left: 1.563rem;
    }
}

/*iPhone portrait*/

@media only screen and (max-width: 320px) {
    body {
        color: purple;
    }
}
